.blockquote-footer{
    font-size: 60%;
}
.blockquote-footer::before{
    content: none;
}
.post span{
    padding: 10px;
}
.page-info{
    padding-left: 45px;
    padding-top: 20px;
}
.wrapper{
    display: flex;
    align-items: center;
    height: calc(100vh - 40px);
}
.error{
    color: red;
}
.footer_list{
    padding-top: 10px;
}
form{
    width: 100%;
}