{% extends 'post/base.html' %}
{% block content %}

<div class="row mt-3">
    <div class="col-sm-7">
        <div class="post-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-info">
            {{ post.date }}, автор: {{ post.user }}
        </div>
        {% if post.user == user %}
        <div class="mt-3">
            <a href="{% url 'view_edit' post.id %}" class="mr-3">Редактировать</a>
        </div>
        {% endif %}
        <div class="post-body mt-4">{{ post.body }}</div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h5>Комментарии</h5>
    </div>
    <div class="col-4">
        <form method="post" class="form-comment" data-post="{{ post.id }}">
            {% csrf_token %}
            <div class="form-group">
                <textarea id="comment-body" class="form-control" placeholder="Ваш комментарий"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div id="comments" class="col-6">
    {% for comment in post.comments %}
        <div class="post-comment">
            <div class="comment-author">
                <a href="{% url 'view_user' comment.user.id %}">{{ comment.user.username }}</a>
            </div>
            <div class="comment-body">{{ comment.body }}</div>
            <div class="comment-time">{{ comment.date }}</div>
            {% if comment.user == user %}
                <a href="#" class="float-right ml-3 text-danger form-comment-delete" data-id="{{ comment.id }}">Удалить</a>

            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}


